.filtersContainer h4 {
  color: var(--gray);
  font-size: 0.8rem;
}

.filterSortBy div {
  width: 100%;
}

.filterSortBy div button {
  width: 100%;
  background-color: transparent;
  color: var(--text);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  font: inherit;
  font-size: 0.8rem;
  font-weight: bold;
  border: 1px solid var(--gray);
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filterSortBy ul {
  list-style: none;
  max-height: 0px;
  overflow: hidden;
  background-color: transparent;
  color: var(--text);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  font: inherit;
  font-size: 0.8rem;
  font-weight: bold;
  border: 1px solid transparent;
  outline: none;
  transition: max-height 0.4s ease-in-out, border 0.4s ease-in-out;
}

.filterSortBy ul.isExpanded {
  border: 1px solid var(--gray);
  max-height: 400px;
  transition: max-height 0.4s ease-in-out, border 0.4s ease-in-out;
}

.filterSortBy ul li button {
  padding: 0.5rem;
  margin: 0;
  border: none;
  color: var(--gray);
  transition: color 0.2s ease-in-out;
  border-radius: 0rem;
}

.filterSortBy ul li button:hover {
  background-color: var(--gray);
  color: var(--text);
  transition: all 0.2s ease-in-out;
}
